@import "tailwindcss";

:root {
    --font-momo: "Momo Trust Display", sans-serif;
    --background: #f3f4f6;
    --foreground: #111827;
    --accent: #76cd26;
}

body {
    font-family: var(--font-momo);
    background-color: var(--background);
    color: var(--foreground);
}
