@import "tailwindcss";

:root {
    --font-momo: "Momo Trust Display", sans-serif;
    --background: #f3f4f6;
    --foreground: #111827;
    --accent: #76cd26;
}

body {
    font-family: var(--font-momo);
    background-color: var(--background);
    color: var(--foreground);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 1px solid rgb(156, 159, 163);
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 9999px;
}
