@import "tailwindcss";

:root {
    --font-momo: "Momo Trust Display", sans-serif;
    --background: #f3f4f6;
    --foreground: #111827;
    --accent: #5edc1;
}

body {
    font-family: var(--font-momo);
    background-color: var(--background);
}

a {
    color: var(--accent);
}
