<section class="flex flex-col items-center justify-center w-screen space-y-6 py-16">
    <%= render(
                    CarouselComponent.new(
                        autoplay: true,
                        interval: 8000,
                        pause_on_hover: true,
                        show_arrows: false,
                        images: [
                            { src: asset_path("carousel/image1.jpeg"), alt: "Vinilo", description: "Vinilos" },
                            { src: asset_path("carousel/image2.jpeg"), alt: "CD", description: "CDs" },
                            { src: asset_path("carousel/image3.jpeg"), alt: "CDs usados", description: "Nuevos y usados" }
                        ]
                    )
                ) %>
</section>