<div id="acerca-de" class="flex flex-col absolute top-0 left-0 items-center justify-center  w-full min-h-screen  bg-(--accent) text-white">
    <div class="pl-64">
        <h1 class="text-5xl font-bold mb-8 text-center">Administraci칩n</h1>
        <p class="text-lg max-w-2xl text-center">
            Bienvenido a la secci칩n de administraci칩n. Ac치 podes gestionar usuarios, productos y ver reportes del sistema.
        </p>
    </div>
</div>